# Dependencias - Esta es la más pesada, nunca se sube
node_modules/

# Salidas de compilación
dist/
/out-tsc
/bazel-out

# Caché y temporales de Angular
.angular/
.cache/
.npm
.eslintcache

# Logs de errores
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de editores (Opcional, pero recomendado)
.vscode/
.idea/
*.swp
*.bak
.DS_Store
Thumbs.db

# Pruebas y cobertura
/coverage
/reports